<!DOCTYPE html>
<html lang="pt-br">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
  <form action="/cadastraaplicacao" method="POST">
    <div class="col-sm-1">
      <select name="montadora">
		<% for(var i = 0; i < montadora.length; i++){ %>
          <option value="<%= montadora[i].MONID %> "> <%= montadora[i].MONNOME %> </option>
        <% } %>
      </select>      
    </div>
    <div class="col-sm-1">
      <select name="veiculo">
		<% for(var i = 0; i < veiculo.length; i++){ %>
          <option value="<%= veiculo[i].VEIID %> "> <%= veiculo[i].VEINOME %> </option>
        <% } %>
      </select>      
    </div>
    <div class="col-sm-1">
      <select name="conector">
		<% for(var i = 0; i < conector.length; i++){ %>
          <option value="<%= conector[i].CONID %> "> <%= conector[i].CONNOME %> </option>
        <% } %>
      </select>      
    </div>
	<div class="col-sm-1">
      <select name="sistema">
		<% for(var i = 0; i < sistema.length; i++){ %>
          <option value="<%= sistema[i].SISID %> "> <%= sistema[i].SISNOME %> </option>
        <% } %>
      </select>      
    </div>
	<div class="col-sm-1">
      <select name="tiposistema">
		<% for(var i = 0; i < tiposistema.length; i++){ %>
          <option value="<%= tiposistema[i].TPSID %> "> <%= tiposistema[i].TPSNOME %> </option>
        <% } %>
      </select>      
    </div>
	<div class="col-sm-2">
		<p>Ano Inicial</p><br>
		<input type="text" name="anoinicial">  
	</div>
	<div class="col-sm-2">
		<p>Ano Final</p><br>
		<input type="text" name="anofinal">  
	</div>
	<div class="col-sm-2">
		<button type="submit">Cadastrar Aplicação</button>
	</div>
  </form> 
  </div>
  <div class="row">
	<div class="col-sm-12">
		  <h1>Lista de Aplicações</h1>
		  <ul>
			<% for(var i = 0; i < aplicacao.length; i++){ %>
			  <li><%= aplicacao[i].MONID %> - <%= aplicacao[i].VEIID %> - <%= aplicacao[i].CONID %> - <%= aplicacao[i].SISID %> - <%= aplicacao[i].TPSID %> - <%= aplicacao[i].APLANOINICIAL %> - <%= aplicacao[i].APLANOFINAL %>		  
				&nbsp;|&nbsp;
				<a href="#<%= i %>">Excluir</a>
			  </li>
			<% } %>
		  </ul>
	  </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>