<!DOCTYPE html>
<html lang="pt-br">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6">
      <h2>Cadastrar Tipo de Sistema<h2>
      <form action="/cadastratiposistema" method="POST">
          <input type="text" placeholder="Nome" name="name">          
          <button type="submit">Cadastrar</button>
      </form> 
    </div>
    <div class="col-sm-6"> 
      <h1>Lista de Tipos de Sistemas</h1>
      <ul>
        <% for(var i = 0; i < tiposistema.length; i++){ %>
          <li><%= tiposistema[i].TPSID %> - <%= tiposistema[i].TPSNOME %>
            <a href="#<%= i %>/editar">Editar</a>
            &nbsp;|&nbsp;
            <a href="#<%= i %>">Excluir</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>